$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$button-bg-color: #f5f4fa;
$secondary-bg-color: #2f303a;
$hero-bt-focus: #188ce8;
$footer-rgb-color: rgba(255, 255, 255, 0.6);
$main-frame-color: #ececec;
$secondary-frame-color: #eeeeee;
$main-icon-color: #afb1b8;
$trans-duration: 250ms;
$trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);